{{template "header"}}
    <title>首頁</title>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        {{template "navbar" .}}
      </div>
    </div>

    </br>
    </br>
    </br>
    <table border="0" align="center" style="margin-top: 40px">
    　<tr>
    　<td style="padding-right: 40px"><a href="import" class="thumbnail">
          <img src="/static/img/import.png" width="300px" height="300px">
        </a>
      </td>
    　<td><a href="export" class="thumbnail">
          <img src="/static/img/export.png" width="300px" height="300px">
        </a>
      </td>
    　</tr>
    　<tr>
    　<td style="padding-right: 40px"><a href="increases" class="thumbnail">
          <img src="/static/img/add.png" width="300px" height="300px">
        </a>
      </td>
    　<td><a href="warehouse" class="thumbnail">
          <img src="/static/img/warehouse.png" width="300px" height="300px">
        </a>
      </td>
    　</tr>
      </table>        
                  

  </body>
</html>